{% extends 'base.html.twig' %}

{% block title %}Benevole index{% endblock %}

{% block body %}
    <h1>Benevole index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateOfEntry</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for benevole in benevoles %}
            <tr>
                <td>{{ benevole.id }}</td>
                <td>{{ benevole.dateOfEntry ? benevole.dateOfEntry|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('benevole_show', {'id': benevole.id}) }}">show</a>
                    <a href="{{ path('benevole_edit', {'id': benevole.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('benevole_new') }}">Create new</a>
{% endblock %}
